<div class="container-fluid mt-0">
    <div class="accordion" id="dashboardFilters">
        <app-dashboard-filters (isLoadingChange)="isLoading = $event"></app-dashboard-filters>
    </div>
    @if (isLoading) {
    <div class="text-center mt-4 py-4">
        <p>Loading data...</p>
    </div>
    }

    @if (!isLoading) {

    <div class="container-fluid my-2 bg-light">
        <app-summary-counts [summaries]="summaryCounts" />
    </div>
    <div class="row">
        <div class="col-md-5 p-0">
            <div class="container bg-light p-2">
                <div class="row">
                    <div class="col-md-3 mx-0 ">
                        @if (thematicFacets.length > 0) {
                        <ul class="list-group list-group-flush" style="max-height: 200px; overflow-y: auto;">
                            @for (facetValue of thematicFacets; track $index) {
                            <li class="list-group-item d-flex justify-content-between align-items-center py-0 px-1"
                                style="font-size: x-small;">
                                {{ facetValue.thematic_area }}
                                <span class="badge bg-primary rounded-pill">{{ facetValue.count }}</span>
                            </li>
                            }
                        </ul>
                        }
                    </div>

                    <div class="col-md-9 p-2 m-0">
                        <app-tree-map [regionsData]="regionsFacets"></app-tree-map>
                    </div>
                </div>
                <div class="container-fluid bg-light py-2">
                    <app-year-barchart [yearsChartData]="yearFacets" />
                </div>

            </div>
        </div>
        <div class="col-md-7 bg-light p-2">
            <app-africa-map [mapData]="countryFacets" />
        </div>
    </div>
    <div class="row px-2 bg-light pb-3">
        <div class="col-md-6 bg-white border mx-0 rounded"
            style="max-height: 350px; overflow-y: auto; font-size: x-small;">
            <app-dashboard-activities [activitiesResponse]="activities"></app-dashboard-activities>
        </div>
        <div class="col-md-6 bg-white border rounded" style="font-size: x-small">
            <div style="max-height: 350px; overflow-y: auto">
                <highcharts-chart [options]="chartOptions" style="width: 100%; font-size: x-small;">
                </highcharts-chart>
            </div>
        </div>
    </div>
    }

</div>