<div class="row justify-content-between bg-light border rounded py-3 mt-0">
    <div class="col-md-2">
        <div class="card bg-paps-maroon">
            <div class="card-body text-center font-weight-bold py-1 text-white">
                <span class="h5 d-block mb-0 pb-0"><strong>{{ summaries['activities'] }}</strong></span>
                <span class="fw-lighter">Activities</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-paps-gold">
            <div class="card-body text-center font-weight-bold py-1 text-white">
                <span class="h5 d-block mb-0 pb-0"><strong>{{ summaries['countries'] }}</strong></span>
                <span class="fw-lighter">Countries</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-paps-green">
            <div class="card-body text-center font-weight-bold py-1 text-white">
                <span class="h5 d-block mb-0 pb-0"><strong>{{ summaries['regions'] }}</strong></span>
                <span class="fw-lighter">Regions</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-paps-maroon">
            <div class="card-body text-center font-weight-bold py-1 text-white px-1">
                <span class="h5 d-block mb-0 pb-0"><strong>{{ summaries['thematic_areas'] }}</strong></span>
                <span class="fw-lighter">Thematic Areas</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-paps-cgreen">
            <div class="card-body text-center font-weight-bold py-1  text-white">
                <span class="h5 d-block mb-0 pb-0"><strong>{{ summaries['directorates'] }}</strong></span>
                <span class="fw-lighter">Directorates</span>
            </div>
        </div>
    </div>
</div>